{% extends 'voter_analytics/base.html'  %}
{% load custom_filters %}

{% block title %}
    Voters List
{% endblock %}

{% block content %}
<div class="container">
    <!-- Voter Table Section -->
    <div class="table-container">
        <h2>Voters List</h2>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Voter Score</th>
                <th>Election Voting</th>
                <th>Precinct Number</th>
            </tr>
            {% for voter in voters %}
            <tr>
                <td><a href="{% url 'voter' voter.pk %}">{{ voter.first_name }}</a></td>
                <td><a href="{% url 'voter' voter.pk %}">{{ voter.last_name }}</a></td>
                <td>{{ voter.date_of_birth }}</td>
                <td>{{ voter.voter_score }}</td>
                <td>
                    {% if voter.v20state %} 2020 State {% endif %}
                    {% if voter.v21town %} 2021 Town {% endif %}
                    {% if voter.v21primary %} 2021 Primary {% endif %}
                    {% if voter.v22general %} 2022 General {% endif %}
                    {% if voter.v23town %} 2023 Town {% endif %}
                </td>
                <td>{{ voter.precinct_number }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- Pagination Section -->
        <div class="pagination">
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">Previous</a></li>
                {% endif %}
                    <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">Next</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

    <!-- Search Form Section -->
    <div class="form-container">
        <h2>Search Form</h2>
        <form action="{% url 'voters' %}" method="get" class="search-form">
            <table>
                <tr>
                    <th>Party Affiliation</th>
                    <td>
                        <select name="party_affiliation">
                            <option value="">--Select Party--</option>
                            <option value="U">U</option>
                            <option value="D">D</option>
                            <option value="R">R</option>
                            <option value="J">J</option>
                            <option value="A">A</option>
                            <option value="CC">CC</option>
                            <option value="X">X</option>
                            <option value="L">L</option>
                            <option value="Q">Q</option>
                            <option value="S">S</option>
                            <option value="FF">FF</option>
                            <option value="G">G</option>
                            <option value="HH">HH</option>
                            <option value="T">T</option>
                            <option value="AA">AA</option>
                            <option value="GG">GG</option>
                            <option value="Z">Z</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                            <option value="E">E</option>
                            <option value="V">V</option>
                            <option value="H">H</option>
                            <option value="Y">Y</option>
                            <option value="W">W</option>
                            <option value="EE">EE</option>
                            <option value="K">K</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Minimum Date of Birth</th>
                    <td>
                        <select name="min_dob">
                            <option value="">--Select Year--</option>
                            {% for year in 1900|custom_range:2023 %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Maximum Date of Birth</th>
                    <td>
                        <select name="max_dob">
                            <option value="">--Select Year--</option>
                            {% for year in 1900|custom_range:2023 %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Voter Score</th>
                    <td>
                        <select name="voter_score">
                            <option value="">--Select Score--</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Election Voting</th>
                    <td>
                        <label><input type="checkbox" name="v20state" value="1"> Voted in 2020 State</label><br>
                        <label><input type="checkbox" name="v21town" value="1"> Voted in 2021 Town</label><br>
                        <label><input type="checkbox" name="v21primary" value="1"> Voted in 2021 Primary</label><br>
                        <label><input type="checkbox" name="v22general" value="1"> Voted in 2022 General</label><br>
                        <label><input type="checkbox" name="v23town" value="1"> Voted in 2023 Town</label><br>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Filter"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
