body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #f0f4f8;
    color: #333;
    margin: 10px;
}

.table {
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profiles_table {
    width: 100%;
    border-collapse: collapse;
}

.profiles_table tbody {
    display: flex;
    flex-direction: row;
}

.profiles_table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    flex: 1;
    background-color: #e6f7ff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.profiles_table th {
    display: none; 
}

.profiles_table td {
    text-align: center;
    padding: 10px;
}

.profiles_table img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profiles_table a {
    text-decoration: none;
    color: black;
}

.profile_img {
    width: 300px;
    height: 300px;
}

.profile_text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #93ff33;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fd1919;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
