/* Style for the profiles table */
.profiles_table {
    width: 100%;
    border-collapse: collapse;
}

.profiles_table tbody {
    display: flex;
    flex-direction: row;
}

.profiles_table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.profiles_table th {
    display: none; 
}

.profiles_table td {
    text-align: center;
    padding: 10px;
}

.profiles_table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
