{% load static %}
<html>
    <head>
        <title>Cooking Recipes for Every Meal</title>
        <!-- <link rel="stylesheet" href="{% static 'css/mini_fb.css' %}">           -->
    </head>
    <body>
    <div class="header">
        <h1>Cooking Recipes for Every Meal</h1>

        {% block nav %}
        <div class="nav_table">
            {% if request.user.is_authenticated %}
                <nav>
                    <a href="{% url 'recipes_list' %}">All Recipes</a>
                </nav>
                <nav>
                    <a href="{% url 'profile_list' %}">Profile List</a>
                </nav>
                <nav>
                    <a href="{% url 'create_recipe' %}">Create Recipe</a>
                </nav>
            {% else %}
                <nav>
                    <a href="{% url 'recipes_list' %}">All Recipes</a>
                </nav>
                <nav>
                    <a href="{% url 'profile_list' %}">Profile List</a>
                </nav>
                <nav>
                    <a href="{% url 'create_profile' %}">Create Profile</a>
                </nav>
            {% endif %}
            {% if request.user.is_authenticated %}
            <nav>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav_button">Logout</button>
                </form>
            </nav>
            {% else %}
            <nav>
                <a href="{% url 'login' %}">Login</a>
            </nav>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}
    </body>
</html>