<!-- File: recipes_list.html -->
<!-- Author: Calvin Li (calvinli@bu.edu) -->
<!-- Description: This file displays a list of recipes -->

{% extends 'project/base.html'  %}

{% block title %}
    Recipes List
{% endblock %}

{% block content %}

<h1>Recipes</h1>
    <div class="table">
        <table class="profiles_table">
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>
                            {% if recipe.get_image %}
                                <a href="{% url 'recipe_detail' recipe.pk%}">
                                    {% for image in recipe.get_image %}
                                        <img src="{{ image.img.url }}" alt="{{ recipe.name }}'s Image">
                                    {% endfor %}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'recipe_detail' recipe.pk%}">
                                {{ recipe.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}