<!-- File: recipe_detail.html -->
<!-- Author: Calvin Li (calvinli@bu.edu) -->
<!-- Description: This file displays a singular recipe including the photo, ingredients, and recipe itself -->

{% extends "project/base.html" %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}
<div class="recipe_container">
    <div class="recipe_image_section">
        {% for image in recipe.get_image %}
            <img src="{{ image.img.url }}" alt="{{ recipe.name }}'s Image">
        {% endfor %}
        
        <div class="recipe_ingredients">
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient in recipe.get_ingredients %}
                    <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="recipe_description_section">
        <h1>{{ recipe.name }}</h1>
        <h3>Description:</h3>
        <form method="post">
            {% csrf_token %}
            <ul style="list-style-type: none; padding: 0;">
                {% for line in recipe.description.splitlines %}
                    <li>
                        <label>
                            <input type="checkbox" class="description_checkbox" name="description_lines" value="{{ line }}"> {{ line }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                <button type="submit" id="submit_button" style="display: none;" disabled>Submit</button>
            {% else %}
                <div class="login">
                    <p>You must be logged in to complete this recipe.</p>
                    <nav>
                        <a href="{% url 'login' %}">Login</a>
                    </nav>
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    function checkCheckboxes() {
        const checkboxes = document.querySelectorAll('.description_checkbox');
        const submitButton = document.getElementById('submit_button');
        
        if (Array.from(checkboxes).every(checkbox => checkbox.checked)) {
            submitButton.style.display = 'inline-block'; 
            submitButton.disabled = false; 
        } else {
            submitButton.style.display = 'none';
            submitButton.disabled = true;
        }
    }

    document.querySelectorAll('.description_checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', checkCheckboxes);
    });
</script>
{% endblock %}
