{% extends 'restaurant/base.html' %}

{% block content %}
    <div class="pic_table">
        <div class="pic">
            <h1>Hong Kong Eatery</h1>
            <img src="{{img}}" alt="Hong Kong Eatery" style="max-width: 300px; height: auto;">
            <p>79 Harrison Ave, Boston, MA 02111</p>
        </div>
        <div>
            <h2>Hours of Operation</h2>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00 AM - 8:30 PM</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
