{% extends "mini_fb/base.html" %}

{% block title %}
    News Feed
{% endblock %}

{% block content %}
    <h1>News Feed</h1>

    <div class="news_container">
        {% for status in statuses %}
        <div class="news_card">
            <div class="news_profile">
                {% if status.profile.image %}
                    <a href="{% url 'show_profile' status.profile.pk %}">
                        <img src="{{ status.profile.image }}" alt="{{ status.profile.first_name }}'s Profile Image">
                    </a>
                {% endif %}
                <a href="{% url 'show_profile' status.profile.pk %}">
                    {{ status.profile.first_name }} {{ status.profile.last_name }}
                </a>
            </div>
            <div class="news_message">
                {{ status.message }}
            </div>
            <div class="news_img">
                {% if status.get_images %}
                    {% for image in status.get_images %}
                        <img src="{{image.img.url}}" alt="status image" class="status_img" />
                    {% endfor %}
                {% endif %}
            </div>
            <div class="news_timestamp">
                {{ status.timestamp }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
