{% extends "mini_fb/base.html" %}

{% block title %}
    {{profile.first_name}} {{profile.last_name}}'s Profile
{% endblock %}

{% block content %}
    <h1>{{profile.first_name}} {{profile.last_name}}'s Profile</h1>
    
    <table>
        <tr>
            <td>
                {% if profile.image %}
                    <img src="{{profile.image}}" alt="{{profile.first_name}} {{profile.last_name}}" class="profile_img" />
                {% endif %}
            </td>
            <td class="profile_text">
                <h2>{{profile.first_name}} {{profile.last_name}}</h2>
                <p>From: {{profile.city}}</p>
                <p>Email: {{profile.email}}</p>
                <nav>
                    <a href="{% url 'create_status' profile.pk %}">Post Status</a>
                </nav>
            </td>
        </tr>
    </table>

    <div>
        <h2>Status Messages</h2>
        <ul>
            {% for status in statuses %}
                {% if status.get_images %}
                    <li>{{status.timestamp}}- {{status.message}}<br />
                        <div class="status_img_container">
                            {% for image in status.get_images %}
                                <img src="{{image.img.url}}" alt="status image" class="status_img" />
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li>{{status.timestamp}}- {{status.message}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
