{% extends "mini_fb/base.html" %}

{% block title %}
    All Profiles
{% endblock %}

{% block content %}
    <h1>All Profiles</h1>
    
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Profile Image</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>
                        <a href="{% url 'show_profile' profile.pk %}">
                            {{ profile.first_name }}
                        </a>
                    </td>
                    <td>{{ profile.last_name }}</td>
                    <td>{{ profile.city }}</td>
                    <td>
                        {% if profile.image %}
                            <a href="{% url 'show_profile' profile.pk %}">
                                <img src="{{ profile.image }}" alt="{{ profile.first_name }}'s Profile Image" style="width:100px;height:100px;">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
